<main>
  <div class="top-half">
    <button class="mt-48" routerLink="/summary" routerLinkActive="page-active">
      <img src="../../assets/icons/summary.png" />
      <span>Summary</span>
    </button>

    <button routerLink="/board" routerLinkActive="page-active">
      <img src="../../assets/icons/board.png" />
      <span>Board</span>
    </button>

    <button routerLink="/add-task" routerLinkActive="page-active">
      <img src="../../assets/icons/add-task.png" />
      <span>Add Task</span>
    </button>

    <button class="smaller-icon" routerLink="/contacts" routerLinkActive="page-active">
      <img src="../../assets/icons/contacts.png" />
      <span>Contacts</span>
    </button>
  </div>

  <div class="bottom-half" routerLink="/legal-notice" routerLinkActive="page-active">
    <button class="smaller-icon mb-48" routerLink="/legal-notice" routerLinkActive="page-active">
      <img src="../../assets/icons/action.png" />
      <span>Legal Notice</span>
    </button>
  </div>
</main>
